* {
	box-sizing: border-box;
}

.main {
	width: 800px;
	height: 800px;
	background: red;
	margin: 0 auto;
	display: flex;
	padding: 15px;
	justify-content: space-between;
}

.column {
	width: 49%;
	background-color: green;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.orange-block {
	width: 100%;
	background-color: orange;
}

.left-block-top {
	height: 125px;
	margin-bottom: 15px;
}

.left-block-bottom, .right-block-top {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.right-block-bottom {
	height: 125px;
	margin-top: 15px;
}

.item {
	width: 100px;
	height: 100px;
	background-color: blue;
	margin: 15px;
}

.item-top {
	align-self: self-end;
}

.right-dir {
	flex-direction: column;
}

.right-footer {
	display: flex;
    justify-content: space-between;
}